 NODE_ENV=development
 PORT=4000
 CORS_ORIGIN=*

 ACCESS_TOKEN_SECRET=
 ACCESS_TOKEN_EXPIRE=20m
 REFRESH_TOKEN_SECRET=
 REFRESH_TOKEN_EXPIRE=1d
 REFRESH_TOKEN_COOKIE_NAME=min

 MYSQL_DATABASE=
 MYSQL_ROOT_PASSWORD=
DATABASE_URL=mysql://username:password@host/database_name

 SMTP_HOST=
 SMTP_PORT=
 SMTP_USERNAME=
 SMTP_PASSWORD=
 EMAIL_FROM=

SEPAY_WEBHOOK_SECRET=
SEPAY_API_ENABLED=false
SEPAY_API_BASE_URL=https://userapi-sandbox.sepay.vn/v2
SEPAY_API_TOKEN=
SEPAY_API_MODE=sandbox
SEPAY_VA_ENABLED=false
SEPAY_ORDER_VA_ENABLED=false
